.form-container {
    form {
        display: flex;
        flex-direction: column;

        .form-field {
            padding-bottom: 2rem;
        }

        .button-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}